body {
    background-image: url("imagen.jpeg");
    background-size: cover;
    font-family: "Geneva"; 
    background-repeat: no-repeat; 
}

#contenedor-padre {
    /* height:637px;*/
     width:100%;
     text-align:center;   
}
h1 {
    font-size: 37px;
    color: rgb(247, 4, 4);
    border-color: rgb(18, 17, 17);
    border-width: 2px;
    border-style: solid;
    text-shadow:  1px 0 #fff, -2px 0 #fff, 0 1px #fff, 0 -2px #fff,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    background-color: rgba(16, 16, 18, 0.765); 
    justify-content: center;
    width: 700px;
    border-radius: 5px;
    padding: 12px;
}
#tecnico {
  height:230px;
  width:700px;
  margin:0px auto;
  padding: 2px; 
}
#contenedor-hijo {
  height:240px;
  width:900px;
  margin:0px auto;
  padding:30px;
}

.carousel-wrapper {
    height: 700px;
    position: relative;
    width: 800px;
    display: block;
    margin: 0 270px 30px;
    border: 2px solid black;
  }
  .carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  .arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
  }
  .arrow-prev {
    left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
  
  }
  .arrow-next {
    right: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  
  [id^= "item"] {
    display: none;
  }
  .item-1 {
    z-index: 2;
    opacity: 1;
    background: url('img/tina1.jpg');
    background-size: cover;
  }
  .item-2 {
    background: url('img/lava4.jpg');
    background-size: cover;
  }
  .item-3 {
    background: url('img/tecnico.jpg');
    background-size: cover;
  }
  .item-4 {
    background: url('img/lava2.jpg');
    background-size: cover;
  }
 .item-5 {
    background: url('img/lava5.jpg');
    background-size: cover;
  }
  *:target ~ .item-1{
    opacity: 0;
  }
  #item-1:target ~ .item-1, #item-2:target ~ .item-2{
    opacity: 1;
  
  }
  #item-2:target ~ .item-2, #item-3:target ~ .item-3{
    z-index: 3;
    opacity: 1;
  } 
  #item-3:target ~ .item-3, #item-4:target ~ .item-4{
    z-index: 3;
    opacity: 1;
  }

  #item-4:target ~ .item-4, #item-5:target ~ .item-5{
    z-index: 3;
    opacity: 1;
  }
h5 {
    font-size: 20px;
    justify-content: center;
    align-items: center;
    padding: 3px; 
    width: 500px;
    margin-left: 14%;
    font-style: italic;
    color:black ;
}
h3 {
    color: black;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    width: 500px; 
    margin-left: 13%;
    margin-top: 8px;
    padding: 0; 
}
h2 {
   background-color: gray;
    text-align:center;
    font-style: italic;
    color: black;
    margin-top: 20px;
    padding: 4px;
}
H4 {
    margin-left: 540px;
    font-size: 25px;
    color: rgb(247, 4, 4);
    border-color: rgb(18, 17, 17);
    border-width: 2px;
    border-style: solid;
    text-shadow:  1px 0 #fff, -2px 0 #fff, 0 1px #fff, 0 -2px #fff,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    background-color: rgba(16, 16, 18, 0.765); 
    width: 280px;
    border-radius: 5px;
    padding: 13px;
}
.container-boton{
    background-color: #2e6329;
    border: 1px solid #fff;
    position: fixed;
    z-index:400;
    border-radius: 50%;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
}

.container-boton:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.boton{
    width: 60px;
    transition: ease 1s;
}

@keyframes efecto{
    0%{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }
    100%{
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }
}

 /*RESONSIVE*/   /*RESONSIVE*/   /*RESONSIVE*/
 @media (max-width: 740px) {
  body {
   /* background-image: url(/img/imagen.jpeg);*/
    background-size: cover;
    font-family: "Geneva"; 
   /* background-repeat: no-repeat; */
    height:50%;
}

#contenedor-padre {
     background-image: url('img/imagen.jpeg'); 
     background-repeat: no-repeat;
     height: 800px;  
     width:100%;
     text-align:center;   
}
h1 {
    font-size: 20px;
    color: rgb(247, 4, 4);
    border-color: rgb(18, 17, 17);
    border-width: 2px;
    border-style: solid;
    text-shadow:  1px 0 #fff, -2px 0 #fff, 0 1px #fff, 0 -2px #fff,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    background-color: rgba(16, 16, 18, 0.765); 
    justify-content: center;
    width: 300px;
    border-radius: 5px;
    padding: 0px;
}
#tecnico {
  height:230px;
  width:310px;
  margin:0;
  padding: 2px; 
}
#contenedor-hijo {
  height:230px;
  width:340px;
  padding:10px;
}

.carousel-wrapper {
    height: 330px;
    position: relative;
    width: 300px;
    display: block;
    margin: 0 28px 0;
    border: 2px solid black;
  }
  .carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  .arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
  }
  .arrow-prev {
    left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
  
  }
  .arrow-next {
    right: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  
  [id^= "item"] {
    display: none;
  }
  .item-1 {
    z-index: 2;
    opacity: 1;
    background: url('img/tina1.jpg');
    background-size: cover;
  }
  .item-2 {
    background: url('img/lava4.jpg');
    background-size: cover;
  }
  .item-3 {
    background: url('img/tecnico.jpg');
    background-size: cover;
  }
  .item-4 {
    background: url('img/lava2.jpg');
    background-size: cover;
  }
 .item-5 {
    background: url('img/lava5.jpg');
    background-size: cover;
  }
  *:target ~ .item-1{
    opacity: 0;
  }
  #item-1:target ~ .item-1, #item-2:target ~ .item-2{
    opacity: 1;
  
  }
  #item-2:target ~ .item-2, #item-3:target ~ .item-3{
    z-index: 3;
    opacity: 1;
  } 
  #item-3:target ~ .item-3, #item-4:target ~ .item-4{
    z-index: 3;
    opacity: 1;
  }

  #item-4:target ~ .item-4, #item-5:target ~ .item-5{
    z-index: 3;
    opacity: 1;
  }
h5 {
    font-size: 18px;
    justify-content: center;
    align-items: center;
    padding: 3px; 
    width: 300px;
    margin: 0%;
    font-style: italic;
    color:black ;
}
h3 {
    color: black;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    width: 300px; 
    margin-left: 0;
    margin-top: 8px;
    padding: 0; 
}
h2 {
    font-size: 15px;
    background-color: gray;
    text-align:center;
    font-style: italic;
    color: black;
    margin-top: 15px;
    padding: 0;
}
H4 {
    font-size: 20px;
    color: rgb(247, 4, 4);
    border-color: rgb(18, 17, 17);
    border-width: 2px;
    border-style: solid;
    text-shadow:  1px 0 #fff, -2px 0 #fff, 0 1px #fff, 0 -2px #fff,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    background-color: rgba(16, 16, 18, 0.765); 
    width: 280px;
    border-radius: 5px;
    padding: 3px;
    margin: 4px 40px 0;
}
.container-boton{
    background-color: #2e6329;
    border: 1px solid #fff;
    position: fixed;
    z-index:400;
    border-radius: 50%;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
}

.container-boton:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.boton{
    width: 60px;
    transition: ease 1s;
}

@keyframes efecto{
    0%{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }
    100%{
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }
}
H4 {
font-size: 15px;
color: rgb(231, 219, 219);
background-color: rgba(48, 48, 61, 0.959); 
justify-content: center;
width: 120px;
margin-left: 8%;
padding: 3px;
margin: 40px;
border-radius: 3px;
}

}
